/* #root {
  max-width: 80vw;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
}
.card-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  column-gap: 3vw;
} */

#root {
    max-width: 80vw;
    margin: 0 auto;
    padding: 2rem;
    text-align: center;
    font-family: 'Arial', sans-serif;
  }
  
  h1 {
    font-size: 3rem;
    color: #333;
  }
  
  h2 {
    font-size: 1.5rem;
    color: #666;
  }
  
  .card-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 2rem;
    max-width: 50vw;
  }
  
  .card {
    background-color: #f0f0f0;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    overflow: hidden;
    transition: transform 0.2s;
  }
  
  .card:hover {
    transform: scale(1.05);
  }
  
  .card h1 {
    font-size: 1.2rem;
    margin: 0.5rem 0;
  }
  
  .card img {
    width: 150px;
    height: 150px;
    object-fit: cover;
    border-bottom: 2px solid #ddd;
  }
  
  .score-section {
    margin-bottom: 2rem;
  }
  
  .score-section h2 {
    margin: 0.5rem 0;
  }